@font-face {
    font-family: "KTF Jermilov";
    src:
        url("km/assets/css/KTF Jermilov/KTF Jermilov Solid Regular.ttf") format("ttf"),
        url("km/assets/css/KTF Jermilov/KTF Jermilov Trial Stencil Regular.otf") format("otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'KTF Jermilov';
}

html,
body {
    background-image: url(http://km/assets/images/reg_back.svg);
    background-color: #312C27;
    font-family: 'KTF Jermilov';
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
}

main {
    position: relative;
    color: white;
}

.hr-yellow {
    flex-shrink: 0;
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 2px;
    border-radius: 1px;
    background: #FFE600;
    border: none;
}


.pic-woman {
    position: relative;
    width: 100%;
    max-height: 1080px;
    overflow: hidden;
}

.pic-woman .woman-body {
    width: 100%;
    height: auto;
}

.section {
    position: absolute;
    width: 440px;
    height: 347px;
    top: 386px;
    left: 306px;
}

.section span:first-child {
    font-family: 'KTF Jermilov';
    font-size: 20px;
    font-weight: 400;
    line-height: 28.2px;
    text-align: left;
    color: #FFFFFF;
    position: relative;
    top: -180px;
}

.section span:nth-child(2),
.section span:nth-child(3) {
    font-family: 'KTF Jermilov';
    font-size: 24px;
    font-weight: 400;
    line-height: 33.84px;
    text-align: left;
}

.section span:nth-child(4) {
    font-family: Syne;
    font-size: 48px;
    font-weight: 800;
    line-height: 57.6px;
    text-align: left;
}

.section span:nth-child(5) {
    font-family: Syne;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;
}

.section span:nth-child(6),
.section span:nth-child(7),
.section span:nth-child(8) {
    font-family: Syne;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.8px;
    text-align: left;
}

.section ul,
.sub-info ul {
    background: #1F1C19;
    border: 2px solid #FFE600;
    box-shadow: 0px 15px 20px 0px #0000002B;
    width: 245px;
    height: 62px;
    border-radius: 7px;
    margin-top: 72px;
}

.section ul a,
.sub-info ul a {
    display: block;
    text-align: center;
    font-family: Syne;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.8px;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 18px;
}

.section .social img {
    width: 50px;
    height: 50px;
    margin-top: 227px;
}

.subscription {
    margin-top: 83px;
}

.subscription .subscription-text {
    font-family: Syne;
    font-size: 48px;
    font-weight: 800;
    line-height: 57.6px;
    text-align: left;
    display: grid;
    justify-content: center;
}

.cardsrow1 {
    display: grid;
    grid-template-columns: repeat(3, 324px);
    gap: 60px;
    justify-content: center;
    margin-top: 83px;
}

.cards1 {
    width: 324px;
    height: 444px;
    border-radius: 15px;
    background-image: url(http://km/assets/images/rates1.svg);
}

.cards2 {
    width: 324px;
    height: 444px;
    border-radius: 15px;
    background-image: url(http://km/assets/images/rates2.svg);
}

.cards3 {
    width: 324px;
    height: 444px;
    border-radius: 15px;
    background-image: url(http://km/assets/images/rates3.svg);
}

.cardsrow1 .cards1 .rates,
.cardsrow1 .cards2 .rates,
.cardsrow1 .cards3 .rates {
    font-family: Syne;
    font-size: 14px;
    font-weight: 700;
    line-height: 18.06px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 18px;
}

.icon1 {
    display: inline-block;
    width: 199px;
    height: 50.36px;
    border-radius: 15px;
    background: #1F1C19;
    margin-left: 63px;
    margin-top: 6px;
}

.cards1 .icon1 p,
.cards2 .icon1 p,
.cards3 .icon1 p {
    font-family: Syne;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.8px;
    text-align: center;
    margin-top: 12px;
}

.cardsfull1 .sub-info,
.cardsfull2 .sub-info,
.cardsfull3 .sub-info {
    margin-top: 37px;
}

.cardsfull1 .sub-info span,
.cardsfull2 .sub-info span,
.cardsfull3 .sub-info span {
    font-family: Syne;
    font-size: 36px;
    font-weight: 700;
    line-height: 46.44px;
    text-align: left;
}


.gym {
    display: grid;
    grid-template-columns: repeat(2, 486px);
    gap: 60px;
    justify-content: center;
    margin-top: 68px;
}

.pic-gym {
    width: 486px;
    height: 529px;
    background-image: url(http://km/assets/images/gym.svg);
    border-radius: 20px;
    margin-top: 40px;
}

.coach-full {
    margin-top: 83px;
}

.coach-full .coach-text {
    font-family: Syne;
    font-size: 48px;
    font-weight: 800;
    line-height: 57.6px;
    text-align: left;
    margin-top: 59px;
    display: grid;
    justify-content: center;
}

.coach1,
.coach2 {
    display: grid;
    grid-template-columns: repeat(3, 333.22px);
    gap: 60px;
    justify-content: center;
    margin-top: 73px;
    text-align: center;
}

.pic1-coach,
.pic2-coach {
    width: 333.22px;
    height: 444px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.coach1-info .coach-name,
.coach2-info .coach-name {
    font-family: Syne;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    margin-top: 30px;
}

.faq {
    margin-top: 83px;
}

.faq .faq-text {
    font-family: Syne;
    font-size: 48px;
    font-weight: 800;
    line-height: 57.6px;
    text-align: left;
    margin-top: 59px;
    display: grid;
    justify-content: center;
}



.accordion-container {
    margin-top: 129px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 130px;
}

.accordion {
    overflow: hidden;
    font-size: 20px;
}

.accordionbox {
    margin-bottom: 20px;
}

.accordion__label {
    padding: 14px 20px;
}

.accordion__label {
    border-radius: 10px;
    display: flex;
    width: 1040px;
    height: 56px;
    padding: 16px 30px;
    align-items: center;
    gap: 83px;
    flex-shrink: 0;
    color: #FFFFFF;
    background: #1F1C19;
    cursor: pointer;
    position: relative;
    border: 2px solid #FFE600;
}

.accordion__label:hover {
    background: rgba(31, 28, 25, 0.9);
}

.accordion__label::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    width: 18px;
    height: 11.23px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFE600;" /></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.4s;
    transform: translateY(-50%);
}


.accordion__input:checked~.accordion__label {
    background: rgba(31, 28, 25, 0.9);
    border-radius: 10px 10px 0px 0px;
}

.accordion__content {
    display: none;

}

.accordion__input {
    display: none;
}

.accordion__input:checked~.accordion__content {
    color: #FFFFFF;
    display: flex;
    width: 1040px;
    padding: 16px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    border-radius: 0px 0 10px 10px;
    background: rgba(31, 28, 25, 0.9);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

}

.accordion__input:checked~.accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
}